body {
	font-family: sans-serif;
	margin: 0;
}

#quiz-app {
	width: 500px;
	margin: 0 auto;
}

.question {
	font-size: 20px;
}

.answer {
	font-size: 16px;
	padding: 10px;
}

.correct {
	color: darkcyan;
}

.incorrect {
	color: red;
}
#next-button {
	float: right;
	margin-top: 10px;
}
#prev-button {
	float: left;
	margin-top: 10px;
}
