* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
nav {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	height: 10vh;
	background-color: lightblue;
}
.sec-container {
	margin-top: 10vh;
	display: flex;
}
.job-suggestion {
	flex: 1;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.job-details {
	flex: 2;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: center;
	opacity: 0;
}
.job-box {
	background-color: #083a50;
	display: flex;
	width: 300px;
	align-items: center;
	justify-content: space-around;
	padding: 1rem;
	border: 0px solid rgb(227, 229, 232);
	margin: 1rem 0;
	border-radius: 5px;
}
.job-btn {
	padding: 1rem 2rem;
	background-color: transparent;
	color: #efbe67;
	border: 2px solid #efbe67;
	font-size: 1rem;
	font-weight: 900;
	border-radius: 5px;
	transition: all 0.5s ease;
}
.job-btn:hover {
	color: white;
	background-color: #efbe67;
}
.job-opportunity,
.job-duties,
.job-cons {
	background-color: #083a50;
	display: flex;
	flex-direction: column;
	width: 600px;
	align-items: flex-start;
	justify-content: space-evenly;
	padding: 2rem 1rem;
	border: 0px solid rgb(227, 229, 232);
	margin: 1rem 0;
	border-radius: 5px;
	color: #efbe67;
	font-weight: 700;
}
